doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Avian React Example

        // Style
        style
            include:less index.style.less

    body

        // Template
        #root

    // Component
    script
        include:typescript index.component.ts
