doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Avian React Example

        // React Less Style
        style
            include:less index.style.less

    body

        // React Root Element
        #root

    // React Babel Component

    script(src="./node_modules/react/umd/react.development.js")
    script(src="./node_modules/react-dom/umd/react-dom.development.js")

    script
        include:babel:uglify-js index.component.js
