<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Avian EJS Example</title>

    </head>
    <body>
        
        <h2>Component Data Objects in Config</h2>

        <ul>
            <% objects.forEach(function(object) { %>
                <li><%= JSON.stringify(object) %></li>
            <% }); %>
        </ul>
    </body>
</html>
