doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Avian jQuery Example

        // Index Style

        link(href="/node_modules/jquery-ui-dist/jquery-ui.min.css", rel="stylesheet")
        link(href="/node_modules/jquery-ui-dist/jquery-ui.theme.min.css", rel="stylesheet")
        style
            include:less index.style.less

        // Index Component

        script(src="/node_modules/jquery/dist/jquery.min.js")
        script(src="/node_modules/jquery-ui-dist/jquery-ui.min.js")
        script
            include:typescript index.component.ts

    body

        #accordion
           if objects
                each object, index in objects
                    if object.sections
                        each section, index in object.sections
                            h3(style="color:white;") hello
