doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Avian Vuetify Example

        // Index Style

        link(href="/node_modules/vuetify/dist/vuetify.min.css", rel="stylesheet")
        style
            include:less index.style.less

    body

        // Index Vuetfiy Application

        #indexComponent

            v-app(dark)
                v-toolbar.red
                    h1 Avian Vuetify Example

                v-content(fluid)

                    // Vue's Client-Side Storage Object Rendering
                    li(v-for="object in objects")
                        p {{ object.links }}

                    // Pug's Server-Side Storage Object Rendering
                    if objects
                        each object, index in objects

                            // Show Only Container Data
                            if object.containers
                                each container, index in object.containers
                                    v-container
                                        h1(style="color:white;") #{object.containers[index]}

                v-footer(fluid)

    // Index Component
    script(src="/node_modules/vuetify/dist/vuetify.js")
    script(src="bundle.js" type="text/javascript")